<html>
<head>
    <title>Elmo-Embeddings</title>
</head>
<body>
    <pre>{{ ascii_art }}</pre>
    <p>MIT Lic 2023</p>
    <p><a href='https://github.com/proitservices/elmo_embedding_api'>repository_link</a></p>
    <p><strong>#curl -X GET http://localhost:5001/ver<strong></p>
    <p><strong>#curl -X POST http://localhost:5001/v1/embeddings -H 'Content-Type: application/json' -d "{\"input\": [\"some text\",\"some more interesting text\",\"additional context\"]}"
	    <strong></p>
    <br>
    <p>MIT Licence 2023</p>

    <br>
    <p> Buy me a coffee:  <a href='https://www.paypal.me/PeterRomanowskiICT'>Let's turn coffee into code</a> </p>

</body>
</html>

